<!-- <p> HomePage still under Construction <a routerLink="login">Go to Login</a> </p> -->
<nav class="navbar navbar-expand-sm fixed-top" style="background-color:#843dc7;">
    <a class="navbar-brand font-weight-bold text-white" ><span class="logo mr-3 pt-1 pl-3 pr-3 pb-2 ">S</span>STASHMONEY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              <button class="btn nav-item font-weight-bold login text-white" routerLink="login">Login</button>
              <button class="btn  nav-item text-dark  bg-white ml-3 pl-4 pr-4 register" routerLink="registration">Register</button>
          </ul>
      </div>
  </nav>
  
  
  <div class="container-fluid">
      
      <div class="row p-3 pl-5">
          <div class="col-md-4">
              <div class="mt-5">
                  <h1 class="pt-5 font-weight-bold head">Saving made easy.</h1>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad excepturi natus laudantium exercitationem sequi, voluptatibus adipisci veritatis.</p>
                  <!-- <h5 class="font-weight-bold">Why Stash?</h5> -->
                  <button class="btn btn-block mb-4 mt-4 shadow font-weight-bold text-white">WHY STASH?</button>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active p-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-3 m-2 shad rounded mx-auto text-center ">
                                        <i class="fa fa-chart-line icons bg-danger text-white mx-auto p-2 rounded"></i>
                                        <h5 class="mt-2 font-weight-bold">Investing</h5>
                                    </div>
                                </div>
                    
                                <div class="col-md-6">
                                    <div class="p-3 m-2 shad rounded mx-auto text-center ">
                                        <i class="fa fa-tasks icons bg-danger text-center text-white p-2 rounded"></i>
                                        <h5 class="mt-2 font-weight-bold">Plans</h5>
                                    </div>
                                </div>
                            </div>
                          </div>
                    
                    
                          <div class="carousel-item p-2 fc">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-3 m-2 shad rounded mx-auto text-center ">
                                        <i class="fa fa-chart-line icons bg-danger text-white mx-auto p-2 rounded"></i>
                                        <h5 class="mt-2 font-weight-bold">Banking</h5>
                                    </div>
                                </div>
                    
                                <div class="col-md-6">
                                    <div class="p-3 m-2 shad rounded mx-auto text-center ">
                                        <i class="fa fa-tasks icons bg-danger text-center text-white p-2 rounded"></i>
                                        <h5 class="mt-2 font-weight-bold">Retirement</h5>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item p-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-3 m-2 shad rounded mx-auto text-center ">
                                        <i class="fa fa-chart-line icons bg-danger text-white mx-auto p-2 rounded"></i>
                                        <h5 class="mt-2 font-weight-bold">Family</h5>
                                    </div>
                                </div>
                    
                                <div class="col-md-6">
                                    <div class="p-3 m-2 shad rounded mx-auto text-center ">
                                        <i class="fa fa-tasks icons bg-danger text-center text-white p-2 rounded"></i>
                                        <h5 class="mt-2 font-weight-bold">Specific Goal</h5>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
            </div>


            <div class="col-md-8">
                <img src="../../assets/13196.jpg"  class="image" >
            </div>
        </div>

</div>

<nav class="navbar navbar-expand-sm bg-light navbar-dark fixed-bottom justify-content-center">
<p class="text-center text-secondary footer mb-0 p-2">Designed by Adeyemi Oluwasegun Ayodeji</p>
</nav>
